# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build and cache
/.next/
/out/
/build
dist/

# environment variables & credentials
.env
.env*.local
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# local scripts
setup.ps1